/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
:root {
    --primary-color: #107dac;
    /*#547A82;*/ 
    /*#ff8f00;*/
    --secondary-color: #1ebbd7;
    /*#3EACA8;*/
    /*#14CCA8;*/

    --success-color: #A2D4AB;
    --danger-color: #c62828;
    --warning-color: #ffc107;
    --info-color: #00838f;
    --grey: #a9a9a9;
    --light-grey: #f7f7f7;
    --dark-grey: #5A5050;
    --shadow-color: #00000050;
    --border: 1px solid #00000030;
    --general-margin: 20px;

    --general-padding: 10px 15px;
    --general-radius: 5px;
}

::-moz-selection {
    color: var(--light-grey);
    background: var(--primary-color);
}

::selection {
    color: var(--light-grey);
    background: var(--primary-color);
}

*{
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
  background-color: #ebebeb;
  color: var(--dark-grey);
}

body{
  width: 100%;
}

button:focus{
  outline: none;
}

[class^="navbar"] {
  background-color: var(--primary-color);
  margin-bottom: 5px;
  
  width: 100%;
  height: fit-content;

  /*Shadow*/
  --shadow: 0 1px 6px 0 var(--shadow-color);
  -webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
}

.navbar-fixed{
  width: inherit;
  position: fixed;
  z-index: 1;
}

[class^="nav-list"] {
  margin: 0;
  padding: 0;
  display: table;
}

.nav-list-center {
  margin-left: auto;
  margin-right: auto;
}

.nav-list-right {
  margin-left: auto;
  margin-right: 10px;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  height: 68px;
  color: white;
  text-decoration: none;
  
  background: none;
  border: none;
  cursor: pointer;
}

.nav-link .btn-dropdown:parent{
  padding: 0;
}


.nav-link .btn-dropdown{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
}

.nav-link:hover{
 border-bottom: 5px solid white;
 transition: 0.3s;
}

.card-panel{
  width: 100%;
  background-color: #fff;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: var(--general-margin);
  position: relative;

  --shadow: 0 1px 6px 0 var(--shadow-color);
  -webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
}

.card-title{
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 1.3em;
}

.card-text, .card-content{
  margin: 15px;
}

.card-img{
  position: relative;
}

.card-img>img{
  width: 100%;
}

.card-action-divider{
  height: 62px;
}

.card-action{
  border-top: 1px solid #0003;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 62px;
}

[class^="btn-"] {
  color: #fff;
  border: var(--border);
  border-radius: var(--general-radius);
  padding: var(--general-padding);
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
  text-align: center;
}

[class^="btn-"]:focus {
  outline: none;
}

[class^="btn-"]:active {
  /* -moz-box-shadow: inset 0 0 5px var(--shadow-color);
  -webkit-box-shadow: inset 0 0 5px var(--shadow-color);
  box-shadow: inset 0 0 5px var(--shadow-color); */

  transform: scale(.95);
  transition: 0.1s;
}

.btn-default{
  color: var(--primary-color);
  background-color: #fff;
}

.btn-default-secondary{
  color: var(--secondary-color);
  background-color: #fff;
}

.btn-primary{
  background-color: var(--primary-color);
}

.btn-secondary{
  background-color: var(--secondary-color);
}

.btn-muted{
  background-color: var(--grey);
}

.btn-muted-inverse{
  /*background-color: white;*/
  color: var(--grey);
}

.btn-success{
  background-color: var(--success-color);
}

.btn-danger{
  background-color: var(--danger-color);
}

.btn-info{
  background-color: var(--info-color);
}

.btn-warning{
  background-color: var(--warning-color);
}

[class^="btn-out-"] {
  background: none;
}

.btn-out-default{
  border-color: var(--grey);
  color: var(--grey);
}

.btn-out-primary{
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-out-secondary{
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn-out-success{
  border-color: var(--success-color);
  color: var(--success-color);
}

.btn-out-warning{
  border-color: var(--warning-color);
  color: var(--warning-color);
}

.btn-out-danger{
  border-color: var(--danger-color);
  color: var(--danger-color);
}

.btn-out-info{
  border-color: var(--info-color);
  color: var(--info-color);
}

.btn-big{
  padding: 10px 20px;
  font-size: 1.2em;
}

.btn-small{
  padding: 3px 8px;
  font-size: 0.8em;
}

.btn-group{
  border: none;
  padding: 0;
  margin: 0;
}

.btn-group:active{
  transform: none;
}

.btn-group>[class^="btn-"]{
  border-radius: 0px;
}

.btn-group>[class^="btn-"]:first-child{
  border-top-left-radius: var(--general-radius);
  border-bottom-left-radius: var(--general-radius);
  padding-left: 18px;
}

.btn-group>[class^="btn-"]:last-child{
  border-top-right-radius: var(--general-radius);
  border-bottom-right-radius: var(--general-radius);
  padding-right: 18px;
}

/*.btn-menu{*/
/*  position: relative;*/
/*}*/

/*.btn-menu:active{*/
/*  transform: none;*/
/*}*/

/*.btn-menu ul{*/
/*  opacity: 0;*/
/*  list-style: none;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  margin: 0;*/
/*  padding: 0;*/
  
/*  top: 100%;*/
/*  transition: all 0.5s ease;*/
/*  transform: translateY(-50%) rotateX(90deg);*/
  
/*  -webkit-transform: translateY(-50%) rotateX(90deg);*/
/*  z-index: 1;*/
/*}*/

/*.btn-menu>.fit{*/
/*  min-width: 100%;*/
/*}*/

/*.btn-menu:hover ul, .btn-menu:active ul{*/
/*  overflow: auto;*/
/*  opacity: 1;*/
/*  transition-delay: 0.4s;*/
/*  transform: translateY(0%) rotateX(0deg);*/
  
/*  -webkit-transform: translateY(0%) rotateX(0deg);*/
/*}*/

/*.btn-menu [class^="btn"]{*/
/*  margin-bottom: 0px;*/
/*  border-radius: 0px;*/
/*  width: 100%;*/
/*}*/

/*.btn-menu{*/
/*  white-space: nowrap;*/
/*}*/

/*.btn-menu li:first-child>[class^="btn"]{*/
/*  border-top-left-radius: var(--general-radius);*/
/*  border-top-right-radius: var(--general-radius);*/
/*}*/

/*.btn-menu li:last-child>[class^="btn"]{*/
/*  border-bottom-left-radius: var(--general-radius);*/
/*  border-bottom-right-radius: var(--general-radius);*/
/*}*/


.dropdown-container{
  display: inline-block;  
  position: relative;
}

.btn-dropdown{
  margin-bottom: 0;  
}

.btn-dropdown::after{
  content: "\f0d7";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;
}

.dropdown-content{
  position: absolute;
  list-style:none;
  padding: 0;
  margin: 0;
  min-width: 100%;
  z-index: 1;
  
  border-radius: var(--general-radius);
  overflow: hidden;    
  padding-top: 10px;    
  padding-bottom: 10px;
  background: white;
  border: var(--border);
  --shadow: 0 1px 6px 0 var(--shadow-color);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-50%) rotateX(90deg);
  -webkit-transform: translateY(-50%) rotateX(90deg);
}

.btn-dropdown:focus + .dropdown-content, .btn-dropdown + .dropdown-content:active{
  overflow: auto;
  opacity: 1;
  transform: translateY(0%) rotateX(0deg);
  -webkit-transform: translateY(0%) rotateX(0deg);
}

.dropdown-item{
  white-space:nowrap;
  width: 100%;    
  border: none;
  background: none;
  text-align: left;
  padding: var(--general-padding);
  display: inline-block;
  color: var(--dark-grey);
  cursor: pointer;
  text-decoration: none;
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.dropdown-item:hover{
  background-color: var(--light-grey);
}

.dropdown-item:active{
  background-color: var(--primary-color);
  color: white;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-info {
  color: var(--info-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-muted {
  color: var(--grey);
}

.text-default {
  color: var(--dark-grey);
}

[class*="bg-"]{
  color: white;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.bg-info {
  background-color: var(--info-color);
}

.bg-muted {
  background-color: var(--grey);
}

.bg-default {
  background-color: white;
  color: var(--dark-grey);
}

[class^="container-"]{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  min-height: 77vh;
}

[class^="code"] {
    font-family: monospace;
    background: var(--dark-grey);
    padding: var( --general-padding);
    color: white;
    border-radius: 3px;
}

.code-line{
  display: inline-block;
}

[class^="list"] li{
  margin-bottom: 5px;
}


[class*="col-"]{
  margin-left: calc(var(--general-margin) / 2);
  margin-right: calc(var(--general-margin) / 2);
  display: inline-flex;
}

.col-xs-1{
  width: calc((100%/(12/1)) - var(--general-margin));
}

.col-xs-2{
  width: calc((100%/(12/2)) - var(--general-margin));
}

.col-xs-3{
  width: calc((100%/(12/3)) - var(--general-margin));
}

.col-xs-4{
  width: calc((100%/(12/4)) - var(--general-margin));
}

.col-xs-5{
  width: calc((100%/(12/5)) - var(--general-margin));
}

.col-xs-6{
  width: calc((100%/(12/6)) - var(--general-margin));
}

.col-xs-7{
  width: calc((100%/(12/7)) - var(--general-margin));
}

.col-xs-8{
  width: calc((100%/(12/8)) - var(--general-margin));
}

.col-xs-9{
  width: calc((100%/(12/9)) - var(--general-margin));
}

.col-xs-10{
  width: calc((100%/(12/10)) - var(--general-margin));
}

.col-xs-11{
  width: calc((100%/(12/11)) - var(--general-margin));
}

.col-xs-12{
  width: calc((100%/(12/12)) - var(--general-margin))
}

.offset-xs-1{
  margin-left: calc((100%/(12/1)) + calc(var(--general-margin))/2);
}

.offset-xs-2{
  margin-left: calc((100%/(12/2)) + calc(var(--general-margin))/2);
}

.offset-xs-3{
  margin-left: calc((100%/(12/3)) + calc(var(--general-margin))/2);
}

.offset-xs-4{
  margin-left: calc((100%/(12/4)) + calc(var(--general-margin))/2);
}

.offset-xs-5{
  margin-left: calc((100%/(12/5)) + calc(var(--general-margin))/2);
}

.offset-xs-6{
  margin-left: calc((100%/(12/6)) + calc(var(--general-margin))/2);
}

.offset-xs-7{
  margin-left: calc((100%/(12/7)) + calc(var(--general-margin))/2);
}

.offset-xs-8{
  margin-left: calc((100%/(12/8)) + calc(var(--general-margin))/2);
}

.offset-xs-9{
  margin-left: calc((100%/(12/9)) + calc(var(--general-margin))/2);
}

.offset-xs-10{
  margin-left: calc((100%/(12/10)) + calc(var(--general-margin))/2);
}

.offset-xs-11{
  margin-left: calc((100%/(12/11)) + calc(var(--general-margin))/2);
}

@media (min-width: 450px) { 
  [class^="container-"]{
    width: 90%;
  }
  
  .col-sm-1{
    width: calc((100%/(12/1)) - var(--general-margin));
  }
  
  .col-sm-2{
    width: calc((100%/(12/2)) - var(--general-margin));
  }
  
  .col-sm-3{
    width: calc((100%/(12/3)) - var(--general-margin));
  }
  
  .col-sm-4{
    width: calc((100%/(12/4)) - var(--general-margin));
  }
  
  .col-sm-5{
    width: calc((100%/(12/5)) - var(--general-margin));
  }
  
  .col-sm-6{
    width: calc((100%/(12/6)) - var(--general-margin));
  }
  
  .col-sm-7{
    width: calc((100%/(12/7)) - var(--general-margin));
  }
  
  .col-sm-8{
    width: calc((100%/(12/8)) - var(--general-margin));
  }
  
  .col-sm-9{
    width: calc((100%/(12/9)) - var(--general-margin));
  }
  
  .col-sm-10{
    width: calc((100%/(12/10)) - var(--general-margin));
  }
  
  .col-sm-11{
    width: calc((100%/(12/11)) - var(--general-margin));
  }
  
  .col-sm-12{
    width: calc((100%/(12/12)) - var(--general-margin))
  }
  
  .offset-sm-1{
    margin-left: calc((100%/(12/1)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-2{
    margin-left: calc((100%/(12/2)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-3{
    margin-left: calc((100%/(12/3)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-4{
    margin-left: calc((100%/(12/4)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-5{
    margin-left: calc((100%/(12/5)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-6{
    margin-left: calc((100%/(12/6)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-7{
    margin-left: calc((100%/(12/7)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-8{
    margin-left: calc((100%/(12/8)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-9{
    margin-left: calc((100%/(12/9)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-10{
    margin-left: calc((100%/(12/10)) + calc(var(--general-margin))/2);
  }
  
  .offset-sm-11{
    margin-left: calc((100%/(12/11)) + calc(var(--general-margin))/2);
  }
}

@media (min-width: 800px) {  
  [class^="container-"]{
    width: 85%;
  }
  
  .col-md-1{
    width: calc((100%/(12/1)) - var(--general-margin));
  }
  
  .col-md-2{
    width: calc((100%/(12/2)) - var(--general-margin));
  }
  
  .col-md-3{
    width: calc((100%/(12/3)) - var(--general-margin));
  }
  
  .col-md-4{
    width: calc((100%/(12/4)) - var(--general-margin));
  }
  
  .col-md-5{
    width: calc((100%/(12/5)) - var(--general-margin));
  }
  
  .col-md-6{
    width: calc((100%/(12/6)) - var(--general-margin));
  }
  
  .col-md-7{
    width: calc((100%/(12/7)) - var(--general-margin));
  }
  
  .col-md-8{
    width: calc((100%/(12/8)) - var(--general-margin));
  }
  
  .col-md-9{
    width: calc((100%/(12/9)) - var(--general-margin));
  }
  
  .col-md-10{
    width: calc((100%/(12/10)) - var(--general-margin));
  }
  
  .col-md-11{
    width: calc((100%/(12/11)) - var(--general-margin));
  }
  
  .col-md-12{
    width: calc((100%/(12/12)) - var(--general-margin))
  }
  
  .offset-md-1{
    margin-left: calc((100%/(12/1)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-2{
    margin-left: calc((100%/(12/2)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-3{
    margin-left: calc((100%/(12/3)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-4{
    margin-left: calc((100%/(12/4)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-5{
    margin-left: calc((100%/(12/5)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-6{
    margin-left: calc((100%/(12/6)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-7{
    margin-left: calc((100%/(12/7)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-8{
    margin-left: calc((100%/(12/8)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-9{
    margin-left: calc((100%/(12/9)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-10{
    margin-left: calc((100%/(12/10)) + calc(var(--general-margin))/2);
  }
  
  .offset-md-11{
    margin-left: calc((100%/(12/11)) + calc(var(--general-margin))/2);
  }
}

@media (min-width: 1000px) {
  
  .col-lg-1{
    width: calc((100%/(12/1)) - var(--general-margin));
  }
  
  .col-lg-2{
    width: calc((100%/(12/2)) - var(--general-margin));
  }
  
  .col-lg-3{
    width: calc((100%/(12/3)) - var(--general-margin));
  }
  
  .col-lg-4{
    width: calc((100%/(12/4)) - var(--general-margin));
  }
  
  .col-lg-5{
    width: calc((100%/(12/5)) - var(--general-margin));
  }
  
  .col-lg-6{
    width: calc((100%/(12/6)) - var(--general-margin));
  }
  
  .col-lg-7{
    width: calc((100%/(12/7)) - var(--general-margin));
  }
  
  .col-lg-8{
    width: calc((100%/(12/8)) - var(--general-margin));
  }
  
  .col-lg-9{
    width: calc((100%/(12/9)) - var(--general-margin));
  }
  
  .col-lg-10{
    width: calc((100%/(12/10)) - var(--general-margin));
  }
  
  .col-lg-11{
    width: calc((100%/(12/11)) - var(--general-margin));
  }
  
  .col-lg-12{
    width: calc((100%/(12/12)) - var(--general-margin))
  }
  
  .offset-lg-1{
    margin-left: calc((100%/(12/1)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-2{
    margin-left: calc((100%/(12/2)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-3{
    margin-left: calc((100%/(12/3)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-4{
    margin-left: calc((100%/(12/4)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-5{
    margin-left: calc((100%/(12/5)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-6{
    margin-left: calc((100%/(12/6)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-7{
    margin-left: calc((100%/(12/7)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-8{
    margin-left: calc((100%/(12/8)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-9{
    margin-left: calc((100%/(12/9)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-10{
    margin-left: calc((100%/(12/10)) + calc(var(--general-margin))/2);
  }
  
  .offset-lg-11{
    margin-left: calc((100%/(12/11)) + calc(var(--general-margin))/2);
  }
}

@media (min-width: 1200px) {
  
  .col-xl-1{
    width: calc((100%/(12/1)) - var(--general-margin));
  }
  
  .col-xl-2{
    width: calc((100%/(12/2)) - var(--general-margin));
  }
  
  .col-xl-3{
    width: calc((100%/(12/3)) - var(--general-margin));
  }
  
  .col-xl-4{
    width: calc((100%/(12/4)) - var(--general-margin));
  }
  
  .col-xl-5{
    width: calc((100%/(12/5)) - var(--general-margin));
  }
  
  .col-xl-6{
    width: calc((100%/(12/6)) - var(--general-margin));
  }
  
  .col-xl-7{
    width: calc((100%/(12/7)) - var(--general-margin));
  }
  
  .col-xl-8{
    width: calc((100%/(12/8)) - var(--general-margin));
  }
  
  .col-xl-9{
    width: calc((100%/(12/9)) - var(--general-margin));
  }
  
  .col-xl-10{
    width: calc((100%/(12/10)) - var(--general-margin));
  }
  
  .col-xl-11{
    width: calc((100%/(12/11)) - var(--general-margin));
  }
  
  .col-xl-12{
    width: calc((100%/(12/12)) - var(--general-margin))
  } 
  
  .offset-xl-1{
    margin-left: calc((100%/(12/1)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-2{
    margin-left: calc((100%/(12/2)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-3{
    margin-left: calc((100%/(12/3)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-4{
    margin-left: calc((100%/(12/4)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-5{
    margin-left: calc((100%/(12/5)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-6{
    margin-left: calc((100%/(12/6)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-7{
    margin-left: calc((100%/(12/7)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-8{
    margin-left: calc((100%/(12/8)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-9{
    margin-left: calc((100%/(12/9)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-10{
    margin-left: calc((100%/(12/10)) + calc(var(--general-margin))/2);
  }
  
  .offset-xl-11{
    margin-left: calc((100%/(12/11)) + calc(var(--general-margin))/2);
  }
}

.row{
  margin-left: calc(var(--general-margin) * -1 / 2);
  margin-right: calc(var(--general-margin) * -1 / 2);
  display: flex;
  flex-wrap: wrap;
  /*width: 100%;*/
}

.row-auto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-column-gap: var(--general-margin);
}

.text-center{
  text-align: center;
}

.text-force-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

[class^="table"]{
  width: 100%;
  border-collapse: collapse;
}

[class^="table"] td, [class^="table"] th{
  text-align: left;
  padding: 10px;
}

[class^="table"] th{
  font-size: 1.1em;
}

[class^="table"] tr{
  border-bottom: 1px solid #0003;
}

[class^="table"] tr:nth-child(even), [class^="table"] th{
  background: #00000008;
}

[class^="table"] tr:hover{
  background: #00000015;
}

.table-center td, .table-center th{
  text-align: center;
}

footer.footer{
  background-color: var(--light-grey);
  color: white;
  min-height: 50px;
}

.vertical-menu{
  list-style: none;
  width: 280px;
  height: 100vh;
  position: fixed;
}

.vertical-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-menu li{
  margin-bottom: 10px;
}

.vertical-menu [class^="btn-"]{
  width: 100%;
  text-align: left;
}

.content-vertical-menu{
  margin-left: 280px;
  width: calc(100% - 280px);
}

.img-logo{
  border-style: none;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-control{
  position: relative;
  margin-top: 25px;
  display: inline-block;
  width: 100%;
  margin-bottom: var(--general-margin);
}

.form-control input, .form-control textarea, .form-control select{
  color: inherit;
  padding: var(--general-padding);
  border: 1px solid var(--dark-grey);
  border-radius: var(--general-radius);
  min-width: 100%;
  max-width: 100%;
  background: white;
}

.form-control input:focus, .form-control textarea:focus, .form-control select:focus{
  outline:none;
  box-shadow: 0 0 0 2px var(--primary-color);
  transition: all 0.5s ease;
  z-index: 1
}

.form-control input ~ label, .form-control textarea ~ label, .form-control select ~ label{
  left: 0;
  top: -19px;
  color: var(--dark-grey);
  position: absolute;
  transition: 0.3s;
}

.form-control input:focus ~ label, .form-control textarea:focus ~ label, .form-control select:focus ~ label{
  color: var(--primary-color);
}

.form-control input:disabled, .form-control textarea:disabled, .form-control select:disabled {
  border-style: dashed;
  background-color: #f0f0f0;
}

.form-control input:disabled + label, .form-control textarea:disabled + label, .form-control select:disabled + label{
  font-style: italic;
  color: var(--grey);
}    

.form-control.custom  label ,.form-control.custom  label{
  line-height: 40px;
  margin-right: 10px;
} 

.form-control.custom .replace{
  height: 1em;
  width: 1em;
  background-color: var(--grey);
  display: inline-block;
  transition: all .2s ease;
  margin-left: 5px;
  margin-right: 5px;
} 

.form-control.custom input[type=checkbox]:checked ~ .replace, .form-control.custom input[type=radio]:checked ~ .replace{
  background-color: var(--primary-color);
} 

.form-control.custom input[type=checkbox] ~ .replace{
  border-radius: var(--general-radius);
} 

.form-control.custom input[type=radio] ~ .replace{
  border-radius: 50%;
} 

.form-control.custom input[type=radio]:checked ~ .replace::after{
  content: "";
  background-color: white;
  border-radius: 50%;
  position: absolute;
  height: .5em;
  width: .5em;
  margin: 4px;
} 

.form-control.custom input[type=checkbox]:checked ~ .replace::after{
  content: "";
  border-color: white;
  border-style: solid;
  border-width: 0 3px 3px 0;
  position: absolute;
  height: 0.6em;
  width: .3em;
  margin-left: 4px;
  transform: rotate(45deg);
  top: auto;
} 

.form-control input[type=checkbox], .form-control input[type=radio]{
  display: none;
}  

.form-control.group{
  margin-top: 0px; 
  display: flex;
  width: 100%;
}

.form-control.group > input, .form-control.group textarea, .form-control.group select{
    min-width: 0;
    max-width: none;
    width: 100%;
}

.form-control.group > .group-text{
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
  border-radius: var(--general-radius);
  white-space: nowrap;
}

.form-control.group *:not(:first-child){
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
}

.form-control.group > *:not(:last-child){
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-control.group [class^="btn"]{
  margin-bottom: 0;
}

.modal{
  background: #00000040;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  vertical-align: middle;
}

.modal > *{
    margin-top: 80px;
    position: absolute;
}

.modal-on, .modal-off{
   display: none;
}

.modal-on:checked ~ .modal{
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.modal-off:checked ~ .modal{
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
}

.back{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.back img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) opacity(80%);
  transform: scale(1.1);
}

.error{
  position: fixed;
  right: var(--general-margin);
  bottom: var(--general-margin);
  padding: var(--general-margin);
  background: var(--danger-color);
  color: white;
  border-radius: 3px;
  animation-name: error;
  animation-duration: 15s;
  opacity: 0;
}

@keyframes error {
    from {
      opacity: 1;
      transform: translate(10px);
    }
    
    1.1%{
      transform: translate(-10px);
    }
    
    1.2%{
      transform: translate(10px);
    }
    
    1.3%{
      transform: translate(-10px);
    }
    
    1.4%{
      transform: translate(10px);
    }
    
    1.5%{
      transform: translate(-10px);
    }
    
    1.6%{
      transform: translate(10px);
    }
    
    1.7%{
      transform: translate(-10px);
    }
    
    1.8%{
      transform: translate(10px);
    }
    
    1.9%{
      transform: translate(-10px);
    }
    
    2%{
      transform: translate(10px);
    }
    
    2.1%{
      transform: translate(-10px);
    }
    
    2.2%{
      transform: translate(10px);
    }
    
    2.3%{
      transform: translate(0);
    }
    
    98%{
      opacity: 1;
    }
    
    to {
      opacity: 0;
    }
}

.print{
  display: none;
  width: 20.09cm;/*18.59cm;*/
  height: 26.44cm;/*24.94cm;*/
}

.print-row {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.print-row  > *{
  padding: 10px;
  border: 2px solid;
}

@page { 
  margin: 1.2cm;
} 

@media print{
  body>*:not(.print){
    display: none;
  }
  
  .print{
    display: initial;
  }
}