/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
:root {
    --primary-color: #80c241; 
    /*#ff8f00;*/
    --secondary-color: #5B0A61;
    /*#14CCA8;*/

    --success-color: #558b2f;
    --danger-color: #c62828;
    --warning-color: #ffc107;
    --info-color: #00838f;
    --grey: #a9a9a9;
    --light-grey: #f7f7f7;
    --dark-grey: #484848;
    --shadow-color: #00000050;
    --border: 1px solid #00000030;
    --general-margin: 10px;

    --general-padding: 5px 15px;
}

::-moz-selection {
    color: var(--light-grey);
    background: var(--primary-color);
}

::selection {
    color: var(--light-grey);
    background: var(--primary-color);
}

*{
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  color: var(--dark-grey);
}

.navbar {
  background-color: var(--primary-color);
  margin-bottom: 5px;
  
  width: 100%;
  height: fit-content;

  /*Shadow*/
  --shadow: 0 1px 6px 0 var(--shadow-color);
  -webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
}

[class^="navbar-list"] {
  margin: 0;
  padding: 0;
  display: table;
}

.navbar-list-center {
  margin-left: auto;
  margin-right: auto;
}

.navbar-list-right {
  margin-left: auto;
  margin-right: 10px;
}

.navbar-item {
  display: inline-block;
}

.navbar-link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  height: 68px;
  color: white;
  text-decoration: none;
}

.navbar-link:hover{
 border-bottom: 5px solid white;
 transition: 0.3s;
}

.card-panel{
  width: 100%;
  background-color: #fff;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: var(--general-margin);
  position: relative;

  --shadow: 0 1px 6px 0 var(--shadow-color);
  -webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
}

.card-title{
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 1.3em;
}

.card-text, .card-content{
  margin: 15px;
}

.card-img{
  position: relative;
}

.card-img>img{
  width: 100%;
}

.card-action-divider{
  height: 57px;
}

.card-action{
  border-top: 1px solid #0003;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 57px;
}

[class^="btn-"] {
  color: #fff;
  border: var(--border);
  border-radius: 40px;
  padding: var(--general-padding);
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
}

[class^="btn-"]:focus {
  outline: none;
}

[class^="btn-"]:active {
  /* -moz-box-shadow: inset 0 0 5px var(--shadow-color);
  -webkit-box-shadow: inset 0 0 5px var(--shadow-color);
  box-shadow: inset 0 0 5px var(--shadow-color); */

  transform: scale(.95);
  transition: 0.1s;
}

.btn-default{
  color: var(--primary-color);
  background-color: #fff;
}

.btn-primary{
  background-color: var(--primary-color);
}

.btn-secondary{
  background-color: var(--secondary-color);
}

.btn-muted{
  background-color: var(--grey);
}

.btn-success{
  background-color: var(--success-color);
}

.btn-danger{
  background-color: var(--danger-color);
}

.btn-info{
  background-color: var(--info-color);
}

.btn-warning{
  background-color: var(--warning-color);
}

[class^="btn-out-"] {
  background: none;
}

.btn-out-default{
  border-color: var(--grey);
  color: var(--grey);
}

.btn-out-primary{
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-out-secondary{
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn-out-success{
  border-color: var(--success-color);
  color: var(--success-color);
}

.btn-out-warning{
  border-color: var(--warning-color);
  color: var(--warning-color);
}

.btn-out-danger{
  border-color: var(--danger-color);
  color: var(--danger-color);
}

.btn-out-info{
  border-color: var(--info-color);
  color: var(--info-color);
}

.btn-big{
  padding: 10px 20px;
  font-size: 1.2em;
}

.btn-small{
  padding: 3px 8px;
  font-size: 0.8em;
}

.btn-group{
  border: none;
  padding: 0;
  margin: 0;
}

.btn-group:active{
  transform: scale(1);
}

.btn-group>[class^="btn-"]{
  border-radius: 0px;
}

.btn-group>[class^="btn-"]:first-child{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-left: 18px;
}

.btn-group>[class^="btn-"]:last-child{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-right: 18px;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-info {
  color: var(--info-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-muted {
  color: var(--grey);
}

.text-default {
  color: var(--dark-grey);
}

[class*="bg-"]{
  color: white;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-warning {
  background-color: var(--warning-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.bg-info {
  background-color: var(--info-color);
}

.bg-muted {
  background-color: var(--grey);
}

.bg-default {
  background-color: white;
  color: var(--dark-grey);
}

[class^="container-"]{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

[class^="code"] {
    font-family: monospace;
    background: var(--dark-grey);
    padding: var( --general-padding);
    color: white;
    border-radius: 3px;
}

.code-line{
  display: inline-block;
}

[class^="list"] li{
  margin-bottom: 5px;
}


[class*="col-"]{
  display: inline-flex;
}

.col-xs-1{
  width: calc((100%/(12/1)));
}

.col-xs-2{
  width: calc((100%/(12/2)));
}

.col-xs-3{
  width: calc((100%/(12/3)));
}

.col-xs-4{
  width: calc((100%/(12/4)));
}

.col-xs-5{
  width: calc((100%/(12/5)));
}

.col-xs-6{
  width: calc((100%/(12/6)));
}

.col-xs-7{
  width: calc((100%/(12/7)));
}

.col-xs-8{
  width: calc((100%/(12/8)));
}

.col-xs-9{
  width: calc((100%/(12/9)));
}

.col-xs-10{
  width: calc((100%/(12/10)));
}

.col-xs-11{
  width: calc((100%/(12/11)));
}

.col-xs-12{
  width: calc((100%/(12/12)))
}

.offset-xs-1{
  margin-left: calc((100%/(12/1)));
}

.offset-xs-2{
  margin-left: calc((100%/(12/2)));
}

.offset-xs-3{
  margin-left: calc((100%/(12/3)));
}

.offset-xs-4{
  margin-left: calc((100%/(12/4)));
}

.offset-xs-5{
  margin-left: calc((100%/(12/5)));
}

.offset-xs-6{
  margin-left: calc((100%/(12/6)));
}

.offset-xs-7{
  margin-left: calc((100%/(12/7)));
}

.offset-xs-8{
  margin-left: calc((100%/(12/8)));
}

.offset-xs-9{
  margin-left: calc((100%/(12/9)));
}

.offset-xs-10{
  margin-left: calc((100%/(12/10)));
}

.offset-xs-11{
  margin-left: calc((100%/(12/11)));
}

@media (min-width: 450px) { 
  [class^="container-"]{
    width: 90%;
  }
  
  .col-sm-1{
    width: calc((100%/(12/1)));
  }
  
  .col-sm-2{
    width: calc((100%/(12/2)));
  }
  
  .col-sm-3{
    width: calc((100%/(12/3)));
  }
  
  .col-sm-4{
    width: calc((100%/(12/4)));
  }
  
  .col-sm-5{
    width: calc((100%/(12/5)));
  }
  
  .col-sm-6{
    width: calc((100%/(12/6)));
  }
  
  .col-sm-7{
    width: calc((100%/(12/7)));
  }
  
  .col-sm-8{
    width: calc((100%/(12/8)));
  }
  
  .col-sm-9{
    width: calc((100%/(12/9)));
  }
  
  .col-sm-10{
    width: calc((100%/(12/10)));
  }
  
  .col-sm-11{
    width: calc((100%/(12/11)));
  }
  
  .col-sm-12{
    width: calc((100%/(12/12)))
  }
  
  .offset-sm-1{
    margin-left: calc((100%/(12/1)));
  }
  
  .offset-sm-2{
    margin-left: calc((100%/(12/2)));
  }
  
  .offset-sm-3{
    margin-left: calc((100%/(12/3)));
  }
  
  .offset-sm-4{
    margin-left: calc((100%/(12/4)));
  }
  
  .offset-sm-5{
    margin-left: calc((100%/(12/5)));
  }
  
  .offset-sm-6{
    margin-left: calc((100%/(12/6)));
  }
  
  .offset-sm-7{
    margin-left: calc((100%/(12/7)));
  }
  
  .offset-sm-8{
    margin-left: calc((100%/(12/8)));
  }
  
  .offset-sm-9{
    margin-left: calc((100%/(12/9)));
  }
  
  .offset-sm-10{
    margin-left: calc((100%/(12/10)));
  }
  
  .offset-sm-11{
    margin-left: calc((100%/(12/11)));
  }
}

@media (min-width: 800px) {  
  [class^="container-"]{
    width: 85%;
  }
  
  .col-md-1{
    width: calc((100%/(12/1)));
  }
  
  .col-md-2{
    width: calc((100%/(12/2)));
  }
  
  .col-md-3{
    width: calc((100%/(12/3)));
  }
  
  .col-md-4{
    width: calc((100%/(12/4)));
  }
  
  .col-md-5{
    width: calc((100%/(12/5)));
  }
  
  .col-md-6{
    width: calc((100%/(12/6)));
  }
  
  .col-md-7{
    width: calc((100%/(12/7)));
  }
  
  .col-md-8{
    width: calc((100%/(12/8)));
  }
  
  .col-md-9{
    width: calc((100%/(12/9)));
  }
  
  .col-md-10{
    width: calc((100%/(12/10)));
  }
  
  .col-md-11{
    width: calc((100%/(12/11)));
  }
  
  .col-md-12{
    width: calc((100%/(12/12)))
  }
  
  .offset-md-1{
    margin-left: calc((100%/(12/1)));
  }
  
  .offset-md-2{
    margin-left: calc((100%/(12/2)));
  }
  
  .offset-md-3{
    margin-left: calc((100%/(12/3)));
  }
  
  .offset-md-4{
    margin-left: calc((100%/(12/4)));
  }
  
  .offset-md-5{
    margin-left: calc((100%/(12/5)));
  }
  
  .offset-md-6{
    margin-left: calc((100%/(12/6)));
  }
  
  .offset-md-7{
    margin-left: calc((100%/(12/7)));
  }
  
  .offset-md-8{
    margin-left: calc((100%/(12/8)));
  }
  
  .offset-md-9{
    margin-left: calc((100%/(12/9)));
  }
  
  .offset-md-10{
    margin-left: calc((100%/(12/10)));
  }
  
  .offset-md-11{
    margin-left: calc((100%/(12/11)));
  }
}

@media (min-width: 1000px) {
  
  .col-lg-1{
    width: calc((100%/(12/1)));
  }
  
  .col-lg-2{
    width: calc((100%/(12/2)));
  }
  
  .col-lg-3{
    width: calc((100%/(12/3)));
  }
  
  .col-lg-4{
    width: calc((100%/(12/4)));
  }
  
  .col-lg-5{
    width: calc((100%/(12/5)));
  }
  
  .col-lg-6{
    width: calc((100%/(12/6)));
  }
  
  .col-lg-7{
    width: calc((100%/(12/7)));
  }
  
  .col-lg-8{
    width: calc((100%/(12/8)));
  }
  
  .col-lg-9{
    width: calc((100%/(12/9)));
  }
  
  .col-lg-10{
    width: calc((100%/(12/10)));
  }
  
  .col-lg-11{
    width: calc((100%/(12/11)));
  }
  
  .col-lg-12{
    width: calc((100%/(12/12)))
  }
  
  .offset-lg-1{
    margin-left: calc((100%/(12/1)));
  }
  
  .offset-lg-2{
    margin-left: calc((100%/(12/2)));
  }
  
  .offset-lg-3{
    margin-left: calc((100%/(12/3)));
  }
  
  .offset-lg-4{
    margin-left: calc((100%/(12/4)));
  }
  
  .offset-lg-5{
    margin-left: calc((100%/(12/5)));
  }
  
  .offset-lg-6{
    margin-left: calc((100%/(12/6)));
  }
  
  .offset-lg-7{
    margin-left: calc((100%/(12/7)));
  }
  
  .offset-lg-8{
    margin-left: calc((100%/(12/8)));
  }
  
  .offset-lg-9{
    margin-left: calc((100%/(12/9)));
  }
  
  .offset-lg-10{
    margin-left: calc((100%/(12/10)));
  }
  
  .offset-lg-11{
    margin-left: calc((100%/(12/11)));
  }
}

@media (min-width: 1200px) {
  
  .col-xl-1{
    width: calc((100%/(12/1)));
  }
  
  .col-xl-2{
    width: calc((100%/(12/2)));
  }
  
  .col-xl-3{
    width: calc((100%/(12/3)));
  }
  
  .col-xl-4{
    width: calc((100%/(12/4)));
  }
  
  .col-xl-5{
    width: calc((100%/(12/5)));
  }
  
  .col-xl-6{
    width: calc((100%/(12/6)));
  }
  
  .col-xl-7{
    width: calc((100%/(12/7)));
  }
  
  .col-xl-8{
    width: calc((100%/(12/8)));
  }
  
  .col-xl-9{
    width: calc((100%/(12/9)));
  }
  
  .col-xl-10{
    width: calc((100%/(12/10)));
  }
  
  .col-xl-11{
    width: calc((100%/(12/11)));
  }
  
  .col-xl-12{
    width: calc((100%/(12/12)))
  } 
  
  .offset-xl-1{
    margin-left: calc((100%/(12/1)));
  }
  
  .offset-xl-2{
    margin-left: calc((100%/(12/2)));
  }
  
  .offset-xl-3{
    margin-left: calc((100%/(12/3)));
  }
  
  .offset-xl-4{
    margin-left: calc((100%/(12/4)));
  }
  
  .offset-xl-5{
    margin-left: calc((100%/(12/5)));
  }
  
  .offset-xl-6{
    margin-left: calc((100%/(12/6)));
  }
  
  .offset-xl-7{
    margin-left: calc((100%/(12/7)));
  }
  
  .offset-xl-8{
    margin-left: calc((100%/(12/8)));
  }
  
  .offset-xl-9{
    margin-left: calc((100%/(12/9)));
  }
  
  .offset-xl-10{
    margin-left: calc((100%/(12/10)));
  }
  
  .offset-xl-11{
    margin-left: calc((100%/(12/11)));
  }
}

.row{
  margin-left: calc(var(--general-margin) * -1 / 2);
  margin-right: calc(var(--general-margin) * -1 / 2);
  display: flex;
  flex-wrap: wrap;
}

.row-auto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-column-gap: var(--general-margin);
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

[class^="table"]{
  width: 100%;
  border-collapse: collapse;
}

[class^="table"] td, [class^="table"] th{
  text-align: left;
  padding: 10px;
}

[class^="table"] th{
  font-size: 1.1em;
}

[class^="table"] tr{
  border-bottom: 1px solid #0003;
}

[class^="table"] tr:nth-child(even), [class^="table"] th{
  background: #00000008;
}

[class^="table"] tr:hover{
  background: #00000015;
}

.table-center td, .table-center th{
  text-align: center;
}

footer.footer{
  background-color: var(--light-grey);
  color: white;
  min-height: 50px;
}

.vertical-menu{
  list-style: none;
  height: 100vh;
}

.vertical-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-menu li{
  margin-bottom: 10px;
}

.vertical-menu [class^="btn-"]{
  width: 100%;
  text-align: left;
}